body{
    margin: 0;

}
#main {
    width: 100%;
    height: 100%;
   // background-image : url (background.jpg);
    background-color: #120B05;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute ;
    top: 0;
    left: 0;
    z-index: -1;
}

#canvas {
    margin: 0;
    padding: 0;
    display: block;
}

#overlay {
    position: absolute; 
    left: 0px; 
    right: 0px; 
    top: 0px; 
    bottom: 0px; 
    z-index: 100500;
}

#overlay_opacity {
    position: absolute; 
    left: 0px; 
    right: 0px; 
    top: 0px; 
    bottom: 0px; 
    background-color: black;
    opacity: 0.9;
}

#menu {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #181715;
    color: white;
    padding: 20px 40px;
    text-align: center;
}

#btn__go {
    margin-top: 5%;
    width:100%;
    text-align: center;

    color: white;
    background:orange;
    
    padding: 5% 0%;
    display: table;
}

#btn__go h2 {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}

.error__div {
    -webkit-box-shadow: 0px 0px 0px 3px rgba(219,51,51,1);
    -moz-box-shadow: 0px 0px 0px 3px rgba(219,51,51,1);
    box-shadow: 0px 0px 0px 3px rgba(219,51,51,1);
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 5%;
    text-align: left;
    color: white;
}


#characteristic {
    position: absolute; 
    right: 0; 
    top: 0;

    background-color: #181715;
    color: white;
    padding: 10px 10px;
    text-align: right;

    -webkit-box-shadow: 0px 0px 0px 3px #2cb020;
    -moz-box-shadow: 0px 0px 0px 3px #2cb020;
    box-shadow: 0px 0px 0px 3px #2cb020;
}

@font-face {
    font-family: tellural_altbold;
    src: url('hmdvgbxs-webfont.eot');
    src: url('hmdvgbxs-webfont.eot?#iefix') format('embedded-opentype'),
    url('hmdvgbxs-webfont.woff2') format('woff2'),
    url('hmdvgbxs-webfont.woff') format('woff'),
    url('hmdvgbxs-webfont.ttf') format('truetype'),
    url('hmdvgbxs-webfont.svg#tellural_altbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
